.addFriendContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.2rem;
}

.friendUsername {
    margin-top: 0.5rem;
    border: 2px solid rgb(0, 0, 0);
    width: 55%;
    margin-left:0.5rem;
    box-sizing: border-box;
    background-color: rgb(62, 65, 66);
    color: rgb(255, 255, 255);
    font-size: 110%;
}

.addFriend {
    background-color: rgb(62, 65, 66);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-left: 0px;
    cursor: pointer;
    font-size: 100%;
    padding: 0px 9px 0px 9px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    white-space: nowrap;
}

.addFriend:hover {
    background-color: rgb(35, 35, 35);
}