body {
  background-color: rgb(62, 65, 66);
  color: rgb(255, 255, 255)
}

.loginContainer {
  text-align: center;
  max-width: 300px;
  margin: 4rem auto 0 auto;
  padding: 1.5rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  background-color: rgb(48, 51, 52);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeHeading {
  font-weight: bold;
  font-size: 140%;
  margin-bottom: 4px;
}

.marginBottom {
  margin-bottom: 2.5rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loginFormElement {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* using different classnames because css "bleeds" sometimes */
.loginEmail,
.loginPassword {
  width: 85%;
  padding: 7px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(62, 65, 66);
  color: rgb(255, 255, 255);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.75;
}

.errorLogin {
  color: rgb(250, 128, 128);
  font-size: 12px;
  margin-top: 5px;
  margin-left: 24px;
  align-self: flex-start;
}

.loginButton {
  width: 85%;
  padding: 10px;
  background-color: rgb(35, 118, 28);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(20, 98, 14);
}

.registerHere {
  margin-top: 1.5rem;
}

a:link {
  color: rgb(175, 175, 255);
}

a:visited {
  color: rgb(213, 121, 255);
}