.friendsLabel {
    margin-bottom: 1rem;
    font-size: 110%;
}

.friend {
    height: 3rem;
    /* margin-left: 1.5rem; */
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    background-color: rgb(42, 44, 45);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 100%;
}

.friend:hover {
    background-color: rgb(62, 65, 66);
}