.friendContainer {
    display: flex;
    flex-direction: row;
    height:10%;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.friendFlexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 140%;
    width: 100%;
}

.settingsFlexbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60px;
}

.friendSettings {
    background-color: rgb(42, 44, 45);
    color: rgb(255, 255, 255);
    border: none;
    border-top: none;
    cursor: pointer;
    font-size: 150%;
    white-space: nowrap;
    width: 100%;
    text-align: right;
    padding-top: 4px;
    padding-right: 8px;
}

.friendSettings:hover {
    background-color: rgb(62, 65, 66);
}

.blockUser {
    background-color: rgb(42, 44, 45);
    color: rgb(235, 61, 61);
    border: none;
    cursor: pointer;
    font-size: 100%;
    white-space: nowrap;
    padding: 8px 6px 8px 6px;
    width: 100%;
}

.blockUser:hover {
    background-color: rgb(62, 65, 66);
}

.lastOnlineStatus {
    margin-bottom: 6px;
    font-size: 70%;
    color: rgb(201, 201, 201);
}

.chatWindow {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.chatHistory {
    height: 95%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
}

.chatHistory::-webkit-scrollbar {
    width: 16px;
}

.chatHistory::-webkit-scrollbar-track {
    background: rgb(62, 65, 66);
}

.chatHistory::-webkit-scrollbar-thumb {
    background: rgb(89, 89, 89);
}

.chatHistory::-webkit-scrollbar-thumb:hover {
    background: rgb(111, 111, 111);
}

.messageContainer {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-left: none;
    background-color: rgb(62, 65, 66);
}

.messageInput {
    background-color: rgb(62, 65, 66);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 130%;
    padding: 10px;
    padding-right: 0;
    resize: none;
    width: 100%;
}

.messageInput::placeholder {
    color: rgb(249, 249, 249);
    opacity: 0.60;
}

.messageInput:focus {
    outline: none;
}

.sendMessageButton {
    background-color: rgb(62, 65, 66);
    color: rgb(99, 170, 241);
    border: none;
    cursor: pointer;
    font-size: 200%;
    padding-top: 6px;
    padding-bottom: 4px;
}

.sendMessageButton:focus {
    outline: none;
}

.chatMessage {
    margin: 10px 0;
}

.chatMessage.sent {
    align-self: flex-end;
    background-color: rgb(30, 118, 207);
    padding: 10px;
    border-radius: 10px;
    max-width: 40%;
}

.chatMessage.received {
    align-self: flex-start;
    background-color: rgb(129, 129, 129);
    padding: 10px;
    border-radius: 10px;
    max-width: 40%;
}

.chatMessage.received .messageContent {
    text-align: left;
    display: block;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.chatMessage.received .messageTimestamp {
    font-size: 90%;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-bottom: 0.5rem;
}

.chatMessage.sent .messageContent {
    text-align: left;
    display: block;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.chatMessage.sent .messageTimestamp {
    font-size: 90%;
    text-align: right;
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-bottom: 0.5rem;
}