body {
    background-color: rgb(62, 65, 66);
    color: rgb(255, 255, 255)
}

.outernContainer {
    display: flex;
    flex-direction: row;
    min-width: 600px;
    min-height: 800px;
    max-height: 800px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 3rem;
    margin-left: 3rem;
    text-align: center;
    width: 18rem;
    font-size: 110%;
}

.friendsFunctions {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.friendButton {
    background-color: rgb(62, 65, 66);
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-top: none;
    cursor: pointer;
    height: 2rem;
    width: 25%;
    font-size: 95%;
    white-space: nowrap;
}

.friendButton:hover {
    background-color: rgb(42, 44, 45);
}

.colorBlue {
    color: rgb(99, 162, 217);
}

.borderLeftNone {
    border-left:none;
}

.colorGreen {
    color: rgb(75, 202, 75);
}

.colorGray {
    color: rgb(183, 183, 183);
}

.colorRed {
    color: rgb(235, 61, 61);
}

.borderRightNone {
    border-right: none;
}

.friendsContainer {
    font-size: 100%;
    background-color: rgb(42, 44, 45);
    width: 100%;
    height: 100%;
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 2rem;
}

.greetContainer {
    font-size: 100%;
    margin-top: 3rem;
    margin-left: 4rem;
    background-color: rgb(42, 44, 45);
    border: 2px solid rgb(0, 0, 0);
    width: 60%;
    text-align: center;
}