body {
    background-color: rgb(62, 65, 66);
    color: rgb(255, 255, 255)
}

.registerContainer {
    max-width: 300px;
    margin: 4rem auto 0 auto;
    padding: 1.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(48, 51, 52);
}

.registerHeading {
    font-weight: bold;
    font-size: 140%;
    margin-bottom: 2.5rem;
    text-align: center;
}

.registerForm {
    text-align: center;
}

.formElement {
    margin-bottom: 2rem;
}

/* using different classnames because css "bleeds" sometimes */
.registerUsername,
.registerPassword,
.registerEmail {
    width: 90%;
    padding: 8px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(62, 65, 66);
    color: rgb(255, 255, 255);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.75;
}

.registerButton {
    width: 90%;
    padding: 10px;
    background-color: rgb(35, 118, 28);
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(20, 98, 14);
}

.error {
    color: rgb(250, 128, 128);
    font-size: 12px;
    margin-top: 5px;
    margin-left: 17px;
    display: flex;
}

.successMessage {
    text-align: center;
    color: rgb(4, 182, 4);
    font-size: 18px;
}

.loginMessage {
    text-align: center;
    font-size: 16px;
    margin-top: 1.5rem;
}

a:link {
    color: rgb(175, 175, 255);
}

a:visited {
    color: rgb(213, 121, 255);
}